@inherits LayoutComponentBase

<div class="page">
    <main>

        <header class="top-row sticky-top">
            <div class=" col-sm-8">
                 <a href="aboutme" class="btn bg-transparent text-warning">
                About Me
            </a>

            <a href="experience" class="btn bg-transparent text-warning">
                Experience
            </a>

            <a href="projects" class="btn bg-transparent text-warning">
                Projects
            </a>

            <a href="posts" class="btn bg-transparent text-warning">
                Posts
            </a>
            </div>
        </header>

        <article class="content px-4 mb-5">
            @Body
        </article>


@*        <div class="sticky-bottom bg-dark">
            <p class="text-light text-center"><small>© 2022 Copyright : Sugumar Prabhakar</small> <small><em class="text-warning">(Developed with the help of Blazor + Bootstrap5 + MDbootstrap)</em></small></p>
        </div>*@
        <footer class="footer-style sticky-bottom d-flex flex-column justify-content-end bg-dark">
            <!-- Copyright -->
            <div class="text-end mt-2">
                <p class="text-light me-5"><small>© 2022 Copyright : <strong class="text-warning">Sugumar Prabhakar</strong></small> <small><em>(Developed with the help of Blazor + Bootstrap5 + MDbootstrap)</em></small></p>
            </div>
            <!-- Copyright -->
        </footer>
    </main>
</div>
