@inherits LayoutComponentBase

<div class="page">
    <main>

        <header class="top-row sticky-top">
            <div class=" col-sm-8">
                 <a href="aboutme" class="btn bg-transparent text-warning">
                About Me
            </a>

            <a href="experience" class="btn bg-transparent text-warning">
                Experience
            </a>

            <a href="projects" class="btn bg-transparent text-warning">
                Projects
            </a>

            <a href="posts" class="btn bg-transparent text-warning">
                Posts
            </a>
            </div>
        </header>

        <article class="content px-4 mb-3">
            @Body
        </article>

        <footer class="footer-style fixed-bottom d-flex flex-column justify-content-end bg-dark">
            <!-- Copyright -->
            <div class="text-end mt-2">
                <p class="text-light me-5" style="font-size:14px"><small>© 2022 Copyright : <strong class="text-warning">Sugumar Prabhakar</strong></small> <small><em style="font-size:10px">(Developed with the help of Blazor + Bootstrap5 )</em></small></p>
            </div>
            <!-- Copyright -->
        </footer>
    </main>
</div>
