@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           
        </div>

        <article class="content px-4 mb-5">
            @Body
        </article>

        <footer class="footer-style fixed-bottom d-flex justify-content-end" style="height: 4vh;">
            <!-- Copyright -->
            <div class="text-center p-1">
                <p class="text-light me-5"><small>© 2022 Copyright : Sugumar Prabhakar</small> <small><em class="text-warning">(Developed with the help of Blazor + Bootstrap5 + MDbootstrap)</em></small></p>
            </div>
            <!-- Copyright -->
        </footer>
    </main>
</div>
