@page "/development-in-progress"
<div class="container">
    <img src="images/UnderDevelopmentImage.jpg" class="img-fluid rounded-start" style="height: 100%" alt="Sugumar Prabhakar">
</div>
@code {

}
